
/**
* Better formats for filters in administration views
 */
.pw-administration-view .views-exposed-form .form-text {
    width: 10em;
}

.pw-administration-view .container-inline {
    padding-top: 2.5em;
}

.views-exposed-form .dependent-options.form-item {
    margin-left: 0;
    padding-top: 3px;
}

.views-exposed-form .views-exposed-widget {
    float: none;
    padding: 1em 1em 0 0;
}

.views-exposed-widgets {
    display: flex;
    flex-wrap: wrap;
}


/* Paragraph-Items */

/* Person */
.field-name-field-landingpage-contributor > .field-items {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 20px;
}
.field-name-field-landingpage-contributor > .field-items > .field-item {
    border: 1px solid #ccc;
    padding: 10px;
}

.paragraph-item--person {
    display: flex;
}
.paragraph-item--person__image {
    flex: 1 1 80px;
    padding-right: 20px;
}
.paragraph-item--person__image img {
    width: 100%;
    height: auto;
}
.paragraph-item--person__info {
    flex: 1 1 calc(100% - 80px);
}


/* User-profile form */

.form-submit--loading {
    opacity: .4;
    pointer-events: none;
}