/**
* Content area
*/

#content {
  background: $white;
}
.docready #content {
  will-change: margin-top;
  transition: margin-top 300ms ease;
}
#content > .container {
  padding: 0;
  @include container-regular();
  padding-bottom: $space-large;
  &:last-child {
    padding-bottom: $space-large * 2;
  }
}