/**
* Filterbar
*/

.filterbar {
  border-top: 1px solid $darkBeige;
  border-bottom: 1px solid $darkBeige;
  background: $white;
  position: relative;
  z-index: 9;
  @include container();

  &__inner {
    position: relative;
    padding: $space-xsmall $space;
  }

  &__trigger {
    @include breakpoint($breakpoint-m-min) {
      display: none !important;
    }
  }

  &__content {
    @include clearfix;
  }
}

.filterbar__trigger,
.filterbar__sorting,
.filterbar__item {
  .btn {
    background: $white;
    padding: $space-xsmall;
    color: $mediumGray;
    overflow: hidden;
    white-space: nowrap;
    border-color: $darkBeige;

    &:hover {
      background: $beige;
    }

    &[disabled] {
      opacity: 1;
      background: $brightBeige;
      color: $gray;
    }
  }

  .form__item--textfield .form__item__control,
  .select2-selection--single,
  .select2-selection--single .select2-selection__arrow {
    border-color: $darkBeige;
  }
}


/* Filterbar: horizontal (desktop) */

.filterbar {
  &:not(&--expanded) {
    .filterbar__content {
      display: none;

      @include breakpoint($breakpoint-m-min) {
        display: block;
      }
    }

    .filterbar__heading {
      display: none;
    }

    .filterbar__sorting {
      position: absolute;
      right: $space;
      top: ($space-large * 3) - 2px;

      &--poll {
        display: none;
      }
    }

    .filterbar__primary {
      float: left;

      .form__item {
        margin-bottom: 0;
      }
    }

    .filterbar__secondary {
      position: relative;
      display: flex;

      .swiper-button-prev,
      .swiper-button-next {
        position: absolute;
        top: -$space-xsmall;
        bottom: -$space-xsmall;
        margin: 0;
        height: auto;
        width: auto;
        padding: 0 $space-xsmall;
        font-size: .6em;
        z-index: 9;
        opacity: 0;
        transform: translate(0, 0);

        &:before {
          color: $gray;
          line-height: $space * 2 + $space-xsmall * 2;
        }
      }

      .swiper-button-next {
        border-left: 1px solid $darkBeige;
      }

      .swiper-button-prev {
        border-right: 1px solid $darkBeige;
      }

      // Initialized
      &.swiper-container-horizontal {
        .filterbar__item:last-child {
          border-right: 0;
        }

        .swiper-button-prev,
        .swiper-button-next {
          opacity: 1;
        }
      }

      &__inner {
        width: 100%;
        height: 100%;

        transform: translate3d(0,0,0);
        display: flex;
        transition-property: transform;
        box-sizing: content-box;
      }
    }

    .filterbar__inner {
      &::before,
      &::after {
        content: '';
        display: block;
        width: 100vw;
        height: 100%;
        background-color: $white;
        position: absolute;
        top: 0;
        z-index: 90;
      }

      &::before { left: calc(-100vw + #{$space}); }
      &::after { right: calc(-100vw + #{$space}); }
    }

    .filterbar__item {
      margin-top: -$space-xsmall;
      margin-bottom: -$space-xsmall;
      background: $white;
      cursor: pointer;

      .form__item {
        color: $mediumGray;
        margin-bottom: 0;
      }

      &--input {
        padding: $space-xsmall $space-large $space-xsmall 0;
        padding-right: $space-large + $space + $space-xsmall;
        position: relative;
        border-right: 1px solid $darkBeige;
        z-index: 9;
        width: 310px;

        .select2 {
          width: 210px !important;
        }

        .btn {
          right: $space-xsmall;
          top: $space-xsmall;
          bottom: $space-xsmall;
          position: absolute;
          width: $space-large + $space;
          padding: $space-xsmall 0;
          border-left: 0;
          @include hide-text;

          &:after {
            content: '\e901';
            position: absolute;
            left: 0;
            right: 0;
            font-family: 'awfont';
            text-indent: 0;
          }
        }
      }

      &--dropdown {
        border-right: 1px solid $darkBeige;
        white-space: nowrap;

        .dropdown__trigger {
          padding: $space $space;
          display: block;
          color: $mediumGray;
          line-height: $space;

          .badge {
            display: inline-block;
            background: $orangeBG;
            color: $white;
            min-width: 14px;
            min-height: 14px;
            font-size: .7em;
            line-height: 14px;
            font-weight: 600;
            margin: 0 $space-xsmall-mobile;
            border-radius: 7px;
            padding: 0 4px;
          }

          .icon {
            font-size: .7em;
            position: relative;
            top: -1px;
            margin-left: 3px;
            color: $mediumGray;
          }
        }

        .dropdown__list {
          top: 100%;
          position: absolute;
          border-top: 1px solid $darkBeige;
          background: $white;
          padding: $space;
          box-shadow: 0 6px 10px rgba(0,0,0,.1);
          transform: translate(-50%, $space);
          width: 710px;
          left: 50%;
          cursor: auto;

          .form__item {
            margin-bottom: $space-xsmall;

            &__label {
              @include text-overflow();
            }

            &--checkboxes,
            &--radios {
              @include grid-container();
              @include grid-collapse($neat-grid-large-gutter);

              .form__item {
                margin-top: $space-xsmall;
                margin-bottom: 0;
                padding-bottom: $space-xsmall;
                cursor: pointer;
                @include grid-column(4, $neat-grid-large-gutter);
              }
            }
          }
        }

        &.dropdown--open .dropdown__list {
          transform: translate(-50%, 0);
        }
      }

      &--checkbox {
        border-right: 1px solid $darkBeige;
        padding: ($space - 1) $space;
        white-space: nowrap;

        @include breakpoint($breakpoint-l-min) {
          padding: ($space - 2) $space;
        }

        .form__item {
          display: inline-block;
          margin-right: $space-small;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &--select {
        padding: $space-xsmall;
        position: relative;
        border-right: 1px solid $darkBeige;
        z-index: 9;
        @include grid-container();

        .select2 {
          width: 100px !important;

          @include breakpoint($breakpoint-xs-min) {
            width: 120px !important;
          }

          @include breakpoint($breakpoint-s-min) {
            width: 170px !important;
          }
        }

        .form__item__control {
          display: none;
          float: left;
          border-color: $darkBeige;
          border-right: 0;

          @include breakpoint($breakpoint-s-min) {
            display: block;
          }
        }
      }
    }
  }
}


/* Filterbar: overlay (mobile) */

.filterbar--expanded {
  z-index: auto;

  .filterbar__content {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    top: 0;
    left: 0;
    z-index: 9999999;
    background: $white;
    padding-top: $space-large;
    padding-bottom: $space-large;
  }

  .filterbar__heading {
    margin-bottom: $space;
    @include clearfix;
  }

  .filterbar__sorting {
    padding: $space-small $space $space;
    background-color: $beige;
    border-top: 1px solid $darkBeige;
  }

  .filterbar__item {
    padding: $space;

    &:not(:last-child) {
      border-bottom: 1px solid $darkBeige;
    }

    &:first-child {
      border-top: 1px solid $darkBeige;
    }

    &--input {
      .btn {
        display: none;
      }
    }

    &--dropdown {
      z-index: auto;

      .dropdown__list {
        position: static;
        display: block;
      }
    }

    .dropdown__trigger {
      display: none;
    }
  }

  .form__item {
    margin-bottom: 0;

    &__label {
      @include text-overflow();
    }

    &--checkboxes,
    &--radios {
      @include grid-container();
      @include grid-collapse($neat-grid-large-gutter);

      .form__item {
        margin-top: $space-xsmall;
        padding-bottom: $space-xsmall;
        @include grid-column(12, $neat-grid-large-gutter);

        @include breakpoint($breakpoint-xs-min) {
          @include grid-column(6, $neat-grid-large-gutter);
          border-bottom: 1px solid $brightGray;
        }

        @include breakpoint($breakpoint-s-min) {
          @include grid-column(4, $neat-grid-large-gutter);
        }

        &:not(:last-child) {
          border-bottom: 1px solid $brightGray;
        }
      }
    }
  }

  .form__item + .form__item {
    margin-top: $space-xsmall;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}


/* Filterbar: disabled */

.filterbar--disabled {
  .filterbar__secondary,
  .filterbar__item,
  .btn {
    pointer-events: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    border-color: #f5f4f2;

    &:before {
      color: #e6e6e6;
    }
  }

  .filterbar__view_options {
    z-index: 99;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: $white;
    opacity: 0.8;
    z-index: 9;
  }
}

/* View mode switch */

.filterbar__view_options {
  position: absolute;
  right: $space;
  top: 0;
  bottom: -1px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid $darkBeige;
  background: $white;

  &__item {
    float: left;
    margin: 0;
    height: 100%;
    border-right: 1px solid $darkBeige;
    border-bottom: 1px solid $darkBeige;

    &:last-child {
      border-right: 1px solid $darkBeige;
    }

    &.active {
      background: $beige;
      position: relative;
      z-index: 9;
      border-bottom: 1px solid $beige;

      .filterbar__view_options__item__link {
        color: $darkGray;
      }

      &:after {
        content: '';

        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 1px;

        background: $beige;
      }
    }

    &__link {
      display: block;
      padding: $space-small;
      color: $mediumGray;

      .icon {
        width: 32px;
        display: inline-block;
        text-align: center;
      }
    }
  }
}


/* Filter summary */

.filter-summary {
  @include grid-column(12);
  margin-bottom: $space-large;

  .filter-summary__content {
    @include grid-container();
    padding-top: $space-xsmall-mobile;
    padding-bottom: $space;
    border-bottom: 1px solid $darkBeige;
    margin-bottom: $space-xsmall-mobile;
    min-height: $space-large * 2;

    p {
      color: $darkGray;
      margin-bottom: 0;
      line-height: 1.6em;
      float: left;

      & > span {
        display: none;

        @include breakpoint($breakpoint-s-min) {
          display: inline;
        }
      }
    }

    .btn {
      display: block;
      padding: 3px $space-xsmall-mobile;
      background: $white;
      color: $darkGray;
      border-color: $white;
      font-size: .8em;
      clear: both;

      @include breakpoint($breakpoint-xs-min) {
        margin-top: 7px;
        float: right;
      }

      .icon {
        color: $darkGray + 30;
        font-size: .7em;
        float: left;
        margin-right: 6px;
        margin-top: 3px;
      }
    }
    .filter-summary__content--mobile {
      display: block;
      float: none;
      padding-bottom: $space-xsmall;

      @include breakpoint($breakpoint-s-min) {
        display: none;
      }
    }
  }

  .filter-summary__content__link {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100vw - #{2 * $space});
    font-weight: 400;
    color: $darkGray;
    border: 1px solid $darkBeige;
    padding: 2px ($space + $space-xsmall-mobile) 2px $space-xsmall-mobile;
    border-radius: 3px;
    position: relative;
    top: -3px;
    margin-right: $space-xsmall-mobile;
    margin-bottom: $space-xsmall-mobile;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background 300ms ease;

    @include breakpoint($breakpoint-s-min) {
      margin-right: 0;
    }

    &:after {
      content:'\e808';
      font-family: 'awfont';
      color: $darkGray + 30;
      font-size: 0.5em;
      line-height: 26px;
      border-left: 1px solid $darkBeige;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: $space;
      text-align: center;
      transition: background 600ms ease;
    }

    &:hover {
      background: $white - 10;

      &:after {
        background: $white;
        border-radius: 0 3px 3px 0;
      }
    }
  }

  & > p {
    margin-bottom: 0;
    font-size: .8em;
    text-align: right;
    color: $darkGray;
  }
}


/* Filterbar temp state */

.filterbar--no-filter {
  .filterbar__view_options {
    display: block;
    position: relative;
    float: right;
    margin-right: 20px;
    margin-bottom: -1px;

    @include breakpoint($breakpoint-s-min) {
      margin: 0;
      position: absolute;
      float: none;
    }
  }
}
