/**
* Forms
*/



.form__item {
  margin-bottom: $space-xsmall;
  position: relative;

  .description {
    padding: $space-xsmall-mobile 0;
    font-size: .8em;
    line-height: 1.4em;
  }

  &--inline {
    display: inline-block;
  }

  &__control,
  .form-email {
    border: 1px solid $gray;
    display: block;
    padding: $space-xsmall - 1px;
    line-height: $space;
    font-family: $font-sans-serif;
    font-weight: 600;
    color: $darkGray;
    outline: 0;
    box-shadow: none;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;

    &[type="search"],
    &[type="password"],
    &[type="email"],
    &[type="text"],
    &[type="date"] {
      height: $space * 2;
      width: 100%;
    }

    @include placeholder-text {
      font-weight: 400;
      color: $darkGray;
      opacity: 1;
    }

    &:focus {
      border-color: $orange;
      border-width: 2px;
      padding: $space-xsmall - 2px;
    }
  }

  &__label {
    cursor: inherit;
  }

  &:not(&--checkboxes):not(&--radios):not(&--checkbox):not(&--radio):not(&--horizontal) &__label:not(.sr-only) {
    display: block;
    line-height: $space;
    position: relative;
    left: $space-xsmall;
    top: $space + $space-xsmall;
    color: $darkGray;
    pointer-events: none;
    transform-origin: left;
    backface-visibility: hidden;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-property: left, top, transform;
  }

  &__label--floating,
  &__label--static,
  html:not(.js) &__label:not(.sr-only) {
    left: 0 !important;
    top: 0 !important;
    transform: scale(0.8) !important;
    font-weight: 600 !important;
  }

  &--checkboxes > &__label:not(.sr-only),
  &--radios > &__label:not(.sr-only) {
    display: block;
    margin-bottom: $space-xsmall;
    font-size: 1em;
    font-weight: 600;
    color: $darkGray;
  }

  &--checkbox,
  &--radio {
    position: relative;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-bottom: $space-xsmall;
    }
  }

  &--checkbox &__control,
  &--radio &__control {
    @include sr-only();
    width: 13px!important;
    height: 13px!important;;
  }

  &--checkbox &__label,
  &--radio &__label {
    display: block;
    padding-left: $space + $space-xsmall-mobile;
    line-height: 1.5em;
    color: inherit;

    &::before {
      content: "";
      display: block;
      width: $space-small - 2px;
      height: $space-small - 2px;
      position: absolute;
      top: 4px;
      left: 0;
      border: 1px solid $gray;
      background-color: $white;
    }
  }

  &--radio &__label {
    &::before {
      border-radius: 50%;
    }
  }

  &--checkbox &__control:checked + &__label {
    &::after {
      content: "\e87a";
      font-family: awfont;
      display: block;
      width: $space-small;
      height: $space-small;
      position: absolute;
      top: 4px;
      left: 0;
      font-size: 8px;
      line-height: $space-small;
      text-align: center;
      color: $orange;
    }
  }

  &--radio &__control:checked + &__label {
    &::after {
      content: "";
      display: block;
      width: $space-small - 8px;
      height: $space-small - 8px;
      position: absolute;
      top: 8px;
      left: 4px;
      border-radius: 50%;
      background-color: $orange;
    }
  }

  &--checkbox &__label:focus,
  &--radio &__label:focus {
    outline: 0;

    &::before {
      border-color: $orange;
      box-shadow: 0 0 0 1px $orange;
    }
  }
}



.form__item--alert {
  display: none;
  position: relative;
  &.show {
    text-align: center;
    font-size: .9em;
    padding: $space-xsmall;
    display: block;
    margin-bottom: $space-small;
    border: 2px solid $gray;
  }
  &:before {
    content: '';
    @include triangle(12px 5px, $gray, down);
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: 2px;
    margin-left: -4px;
  }
}
.form__item--alert-danger.show { border-color: $red; &:before { @include triangle(12px 5px, $red, down); } }
.form__item--alert-info.show { border-color: $brightOrange; &:before { @include triangle(12px 5px, $brightOrange, down); } }
.form__item--alert-success.show { border-color: $green; &:before { @include triangle(12px 5px, $green, down); } }

/* Loader */

@-webkit-keyframes spinnerRotate
{
  from{-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
  from{-moz-transform:rotate(0deg);}
  to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
  from{-ms-transform:rotate(0deg);}
  to{-ms-transform:rotate(360deg);}
}

.form__item__loader {
  display: none;
  position: absolute;
  right: $space-xsmall;
  top: 50%;
  width: 16px;
  height: 16px;
  overflow: hidden;
  margin-top: -8px;
  color: $gray;
  animation: spinnerRotate 1.0s linear infinite;
}
.loading .form__item__loader {
  display: block;
}

/* Textareas */

textarea.form__item__control {
  min-height: 200px;
  width: 100%;
  resize: vertical;
}


.form__item--multi {
  @include grid-container();
  @include grid-collapse();
}


/* Countdown */

.webform-component-countdown {
  padding-top: $space;
  .form__item__label + div {
    position: absolute;
    top: $space;
    right: 0;
    display: inline-block;
    background: #fff;
    padding: 2px 8px;
    height: $space;
    border: 1px solid #aaa;
    border-bottom: 0;
    margin-bottom: -1px;
    font-size: .9em;
  }
}

/* Select2 Elements */

.select2-container .select2-selection {
  min-height: 0;
  height: $space * 2;
  border-radius: 0;
  border-color: $gray;
  outline: 0;

  &:focus {
    border-color: $orange;
    border-width: 2px;

    .select2-selection__rendered {
      padding: ($space-xsmall - 2px) ($space-large - 2px) ($space-xsmall - 2px) ($space-xsmall - 2px);
    }
  }
}
.select2-container .select2-selection .select2-selection__rendered {
  display: block;
  padding: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: ($space-xsmall - 1px) ($space-large - 1px) ($space-xsmall - 1px) ($space-xsmall - 1px);
  line-height: $space;
  color: $darkGray;
  font-weight: 600;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  height: auto;
  width: $space-large;
  bottom: 1px;
  border-left: 1px solid $gray;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: 0;
  margin-top: -4px;
  &:after {
    content: '\e847';
    font-family: 'awfont';
    font-size: 0.5em;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.select2-container .select2-search--inline {
  margin: 0;
  .select2-search__field {
    margin: 0;
    display: block;
    padding: $space-xsmall;
  }
}
.select2-container .select2-selection--multiple .select2-selection__choice {
  margin: $space-xsmall - 3;
  @include tag($beige, $darkBeige, $mediumGray);
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: $space-xsmall;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: $darkGray;
  font-weight: 400;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $orange;
  color: $white;
}
.select2-container--open .select2-dropdown--below {
  min-width: 200px;
}
.select2-selection__placeholder {
  @include text-overflow();
}

/* Form-Item Horizontal */

.form__item--horizontal {
  padding-left: 120px;
  position: relative;
  .form__item__label {
    width: 100px;
    padding: $space-small-mobile 0;
    position: absolute;
    left: 0;
  }
  .form__item__control,
  .select2 {
    display: block;
  }
}

/* Form-Item Combiner */

.form--pw-globals-politician-search-form,
.form__item--combiner {
  background: $white;
  padding: $space-xsmall;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  @include grid-container();
  position: relative;
  .select2-container {
    float: left;
    width: 25% !important;
    padding-right: $space-xsmall-mobile;
    @include breakpoint($breakpoint-xs-min) {
      width: 15% !important;
    }
    .select2-selection {
      position: relative;
    }
  }
  .select2-container--default .select2-selection--single {
    border: 0;
    border-right: 1px solid $darkBeige;
  }
  .select2-container .select2-selection--single .select2-selection__arrow {
    border-left: 0;
  }
  .form__item--textfield,
  > .form__item__control {
    float: left;
    width: 85%;
    border: 0;
    display: block;
    margin-bottom: 0;
    position: static;
    @include breakpoint($breakpoint-xs-min) {
      width: 90%;
    }
  }
  .tt-hint {
    color: $gray;
    top: auto !important;
    left: auto !important;
    width: calc(100% - 40%);
    @include breakpoint($breakpoint-xs-min) {
      width: calc(100% - 28%);
    }
  }
  .twitter-typeahead {
    position: static !important;
  }
  .form__item__control {
    border: 0;
  }
  .btn {
    float: left;
    width: 15%;
    padding: $space-xsmall 0;
    border: 0;
    background: none;
    border-left: 1px solid $darkBeige;
    color: $darkGray;
    @include breakpoint($breakpoint-xs-min) {
      width: 10%;
    }
  }

  &.loading {
    position: relative;
    &:before {
      content: '\f110';
      font-family: 'awfont';
      display: block;
      color: $gray;
      text-align: center;
      width: 32px;
      height: 32px;
      margin-top: -16px;
      line-height: 32px;
      position: absolute;
      right: 15%;
      z-index: 9;
      top: 50%;
      margin-right: $space-small;
      animation: spin 1s linear infinite;
      @include breakpoint($breakpoint-xs-min) {
        right: 10%;
      }
    }
  }
}


/* Autosuggest - Typeahead */

.tt-menu {
  background: $white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  border-top: 1px solid $darkBeige;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;

  /* Header */

  .autosuggest__header {
    padding: $space-xsmall $space;
    border-bottom: 1px solid $darkBeige;
    font-weight: 600;
    color: $orange;
    font-size: .8em;
  }

  /* Ergebnis */

  .autosuggest__item {
    padding: $space-small $space-xsmall;
    border-bottom: 1px solid $darkBeige;
    position: relative;
    @include grid-container();
    @include breakpoint($breakpoint-s-min) {
      padding: $space-small $space;
    }
    &:last-child {
      border-bottom: 0;
    }
    .btn--small {
      display: none;
      @include breakpoint($breakpoint-s-min) {
        display: block;
        position: absolute;
        right: $space;
        top: $space-small;
      }
    }
    &:hover,
    &.tt-cursor {
      background-color: $brightGray;
    }
  }
  .autosuggest__item__image {
    float: left;
    @include image-circle(40px, 40px);
    border-width: 3px;
    margin-right: $space-small;
  }
  .autosuggest__item__info {
    color: $gray;
    padding-top: 2px;
    position: relative;
    @include breakpoint($breakpoint-s-min) {
      margin-right: 120px;
    }
    .tt-highlight {
      color: $darkGray;
    }
  }
  .autosuggest__item__name {
    font-family: $font-serif;
    font-weight: 400;
    padding-bottom: 3px;
    padding-right: 100px;
    color: $mediumGray;
    @include text-overflow();
  }
  .autosuggest__item__subtitle {
    color: $gray;
    font-size: .7em;
    .icon {
      font-size: .8em;
      margin: 0 5px;
      display: inline-block;
    }
    .party-indicator {
      color: $gray;
    }
  }
  .autosuggest__item__constituency {
    position: absolute;
    right: $space-xsmall-mobile;
    top: $space-xsmall-mobile;
    font-size: .7em;
    max-width: 100px;
    text-align: right;
    @include text-overflow();
  }

  /* Separator */

  .autosuggest__item--separator {
    border-bottom: 1px solid $darkBeige;
    font-size: 0.8em;
    padding: $space-xsmall $space;
    background: $brightBeige;
  }

  /* Kein Ergebnis */

  .autosuggest__item--empty {
    text-align: center;
  }
}

.tt-menu {
  .tt-dataset-parliaments {
    .autosuggest__item {
      &:hover,
      &.tt-cursor {
        background: none;
      }
      a {
        color: $darkGray;
        line-height: 1.6em;
        display: block;
        & > span {
          color: $orange;
        }
      }
    }
  }
}

.tt-menu--custom {
  .autosuggest__item {
    .autosuggest__item__info {
      padding: 0;
    }
    .autosuggest__item__name {
      padding: $space-xsmall-mobile 0 $space-xsmall-mobile;
    }
  }
}


/* Select deputies by Street */

.form--pw-profiles-street-form {
  @include grid-column(12);
  margin-bottom: $space-large;
  @include breakpoint($breakpoint-s-min) {
    @include grid-column(8);
  }
  .form__item--select {
    @include breakpoint($breakpoint-s-min) {
      min-width: 400px;
      float: left;
      margin-right: $space;
    }
    .select2-container .select2-search--inline .select2-search__field {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

/* Contact */

#webform-ajax-wrapper-6578 {
  padding-bottom: $space-large;
  @include container-small();
  @include grid-container();
  .webform-client-form {
    @include grid-column(12);
    @include breakpoint($breakpoint-s-min) {
      @include grid-column(8);
    }
  }
}

/* Login */

.form--user-login {
  > p { margin-bottom: $space-large; }
}


// hide spamicide form field
.edit-enter-name-wrapper {
  display: none;
}
