/**
* Scaffolding
*
* Defines global settings for page background, width and spacings
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page-container {
  position: relative;
}

/* images */

img {
  max-width: 100%;
  height: auto;
}

/* container-elements */

.container {
  @include container();
}
.container-small {
  @include container-small();
}
.container-regular {
  @include container-regular();
}
.container-regular-padded {
  @include container-regular-padded();
}

.row {
  @include grid-container;
  @include grid-collapse;
}

